@{
    ViewBag.Title = "Footer";
    Layout = null;
}
<noscript class="offscreen">
    Your web browser doesn't support JavaScript or JavaScript is disabled. Please enable
    JavaScript in your browser settings so page can function correctly.
</noscript>
<div id="footer2Grid">
    <div style="display: table; padding: 8px 0 0 25px; width: 995px;">
        <div style="display: table-row">
            <div style="display: table-cell; text-align: right;">
                &#169; Copyright @DateTime.Now.Year Tong Li All rights reserved
            </div>
        </div>
    </div>

</div>
